<app-add-task (onAddTask) = "addTask($event)"></app-add-task>

<div class="tooltip">
    <fa-icon id="deletealltasks" (click)="deleteAllTasks()" 
    [ngStyle]="{ color: 'red' }" [icon]="faTrashAlt" >
    </fa-icon >
    <span class="tooltiptext">Delete all Tasks</span>
</div>



<!-- When you are using an ngFor, the variable does not exist outside of this component selector tag -->
<app-lists-details *ngFor="let task of tasks" 
    [task]="task"
    (onDeleteTask)= "deleteTask(task)" 
    (onToggleReminder)="toggleReminder(task)"
    (onCompletedTask)="completeTask(task)"
    >
</app-lists-details>

  