<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="from-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Add Task"
    />
  </div>
  <div class="from-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>
  <!--
    <div class="from-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
   </div>
-->
<div class="from-control">
  <label for="categories">Add a Category</label>
  <select name="categories" id="categories">
    <option value="Internal Comms App">Internal Comms App</option>
    <option value="General Work">General Work</option>
    <option value="Other">Other</option>
  </select>
</div>
  <input type="submit" value="Save Task" class="btn-block" />
</form>
